body{
    background-color: antiquewhite;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}

.hidden{
    display: none;
}

/* Above here is the base style I advise starting from in all projects */
/* From here down is the few styles to make it look kind of like the game */

.game{
    margin-top: 10vh;
}

.cols, .row1, .row2, .row3, .row4, .row5 {
    width: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.cols div:first-child{
    grid-column-start:2;
}

.cell{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    cursor: pointer;

    /* This will be the main property added in the final project */
    transition: color .5s;
}

.inactive{
    color:lightgray;
}

.success{
    /* border: 1px solid green; */
    background-color: lightgreen;
}

h4{
    margin: 20px;
}

.option{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    cursor: pointer;

    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    
}